html {
  --blue-color: #00acdc;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

.header-logo > img {
  display: block;
}

.nav-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.link-item {
  display: flex;
  align-items: center;
  height: 60px;
  text-decoration: none;
  margin: 0 20px 0 0;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000;
  position: relative;
}

.is-active,
.link-item:hover {
  color: var(--blue-color);
}

.nav-list .list-item:last-child .link-item {
  margin-right: 0;
}

.link-item.is-active::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 8px;
  background-color: var(--blue-color);
  bottom: 0;
}
